/* .image {
    height: 100px;
    width: 100px;
    font-size: 25px;
    background: blue;
    margin: 10px;
    display: inline-block;
    line-height: 100px; 
  }
  .image-container {
    vertical-align: middle;
    display: inline-block;
    width: 30%;
    /* white-space:nowrap; */
    /* overflow-x: auto;
    overflow-y: hidden;
    border: 2px solid red;
  } */ */
