.logo > img{
    /* height: 25px; */
    width: 110px;
    object-fit: contain;
    margin-left: 10px;
}

.logo{
    display: flex;
    align-items: center;
}
.left_section >img{
    width: 35px;
}
.left_section {
 align-items: center;
 display: flex; 
}

.all{
    width: 40%;
    border: 1px solid #121212;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #2e2e2e;
}
.all > input{
    height: 46px;
    flex: 1;
    border: none;
    border-radius: 20px 0px 0px 20px ;
    outline:none ;
    background-color: #000000;
    color: #fafafa;
    padding-left: 2px;
    font-size: 15px;
    font-weight: 500;

}
.all > .extra_search{
    font-weight: lighter;
    visibility:hidden;
    opacity: 0.6;
}
.all:focus-within{
    width: 50%;
    background-color: #000000;
    color: #fafafa;
    align-items: center;
    border:1px solid rgb(4, 100, 255) ;
   
}



.all:focus-within > .extra_search{
    visibility: visible;
    width: 50px;

}

.mic{
 
 color: #fafafa;
}

/* .mic_{
    background-color: #1c1c1c;
    border-radius: 40px;
    padding: 10px;
    align-items: center;
} */



.searchButton{
    width: 70px!important;
    height: 45.9px!important;
    background-color: #181717;
    border-left: 1px #1c1c1c;
    color:gray;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer; 
}

.searchButton > .MuiSvgIcon-root{
    font-size: 10px!important;
}


.left_side_icon{
    margin-right: 20px;
} 


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: rgb(13, 13, 13);
    color: #fff;
}

.all{
    display: flex;
}
.search {
    display: flex;
}