.posts{
    display: flex;
}

.content > p > img{
    border-radius: 50%;
    width: 40px;
}
.content >p{
    display: flex;
    align-items: center;
}
.content{
    margin: 20px ;
}

.content > .tag{
    padding: 10px;
    background-color: #1c1c1c;
    border-radius: 5px;
}