.rec{
    flex: 0.75;
    background-color: #000;
    color: #fff;
}

.rec >h2{
    margin: 20px;
}

.video_recommendations{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}