.rec{
    flex: 0.8;
    background-color: rgb(13, 13, 13);
    color: #fff;
    font-family: "Roboto","Arial",sans-serif;

}
.video_recommendations{
    display: flex;
    flex-wrap: wrap !important;
}



.rec >h2{
    margin: 20px;
}
/* mmm */

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}