.rec{
    flex: 0.8;
    background-color: rgb(13, 13, 13);
    color: #fff;
    font-family: "Roboto","Arial",sans-serif;

}
.video_recommendations{
    display: flex;
    flex-wrap: wrap !important;
}



.rec >h2{
    margin: 20px;
}


