@media only screen and (max-width: 414px) {
    .searchpage{
        flex: 0.9!important;

    }   

    .profile_pic > img{
        border-radius: 50%;
        width: 80px !important;
    }
   
    .subscribe>button{
        width: 93px !important;
      }

  .details >p{
    font-size: 12px !important;
}
}
.searchpage{
    flex: 0.8;
    background-color: rgb(13, 13, 13);
    color: #fff;
    font-family: "Roboto","Arial",sans-serif;
}

.filter {
    margin: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter_icon {
    padding-right: 3px;
}

.searchpage >hr{
    background-color: rgb(36, 36, 36);
    height: 2px;
    margin-top: 10px 10px;
    border: 0;
    
}

.subscribe>button{
  background-color: #fff;
  color: #000;
  padding: 15px;
  border-radius: 50px;
  font-weight: bold;
  width: 120px;
  border: none;
  cursor: pointer;
}

.profile_pic > img{
    border-radius: 50%;
    width: 180px;
}

.profile_details{
    display: flex;
    padding: 20px;
    align-items: center;
    margin-top: 30px;
    /* justify-content: space-around; */

}

.details{
    margin-left: 10px;
}

.details >p{
    color: #aaa;
    font-size: 14px;
}

.profile_pic{
    flex: 0.2;
}
.details{
    flex: 0.4;

}

.subscribe{
    flex: 0.2;
}

.searchpage > h4{
    margin: 20px;
}

.searchpage > .posts{
    display: flex;
    flex-wrap: wrap;
}