.searchpage{
    flex: 0.8;
    background-color: rgb(13, 13, 13);
    color: #fff;
    font-family: "Roboto","Arial",sans-serif;
}

.filter {
    margin: 15px;
    display: flex;
    align-items: center;
}

.filter_icon {
    padding-right: 3px;
}

.filter >hr{
    background-color: rgb(36, 36, 36);
    height: 1.2px;
    margin-top: 10px 10px;
    border: 0;
    
}

.profile_pic > img{
    border-radius: 50%;
    width: 180px;
}