.sidebar{
    flex: 0.2;
    background-color: #000000;
    color: #f1f1f1;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: lighter;
}

.side_row{
    display: flex;
    align-items: center;
    padding: 10px;
}

.side_text{
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
}

.sidebar :hover{
    background-color: rgb(35, 35, 35);
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}
.sidebar :hover > .side_icon{
   color: red;
}
.sidebar :hover > .side_text{
   font-weight: bolder;
}

.selected{
    background-color: rgb(35, 35, 35);
    border-radius: 8px;
}
.selected .MuiSvgIcon-root{
    color: red;
}

.sidebar > hr{
    background-color: rgb(36, 36, 36);
    height: 1px;
    margin-top: 10px 10px;
    border: 0;
    width: 200px;
}




