.sidebar{
    flex: 0.25;
    background-color: #000000;
    color: #f1f1f1;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: lighter;
}

.side_row{
    display: flex;
    align-items: center;
    padding: 10px;
}

.side_text{
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
}

.sidebar :hover{
    background-color: lightgray;
    cursor: pointer;
}
.sidebar :hover > .side_icon{
   color: red;
}
.sidebar :hover > .side_text{
   font-weight: bolder;
}

.side_row > .selected{
    background-color: lightgray;
}
.side_row .selected > .side_icon{
    color: red;
}

.sidebar > hr{
    background-color: rgb(36, 36, 36);
    height: 1px;
    margin-top: 10px 10px;
    border: 0;
    width: 200px;
}


