@media only screen and (max-width: 414px) {
    .sidebar{
        flex: 0.1!important;
        width: 50px!important;

    }

    .side_row > .side_text{
      display: none;
    }

    .sidebar :hover{
        width: 50px!important;
    }

    .selected{
        border-radius: 10px;
        width: 50px!important ;
    }
}

.sidebar{
    flex: 0.2;
    background-color: rgb(13, 13, 13);
    color: #f1f1f1;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: lighter;
}

.side_row{
    display: flex;
    align-items: center;
    padding: 10px;
}

.side_text{
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
}

.sidebar :hover{
    background-color: rgb(35, 35, 35);
    cursor: pointer;
    border-radius: 10px;
    width: 220px;
}
.sidebar :hover > .side_icon{
   color: red;
}
.sidebar :hover > .side_text{
   font-weight: bolder;
}

.selected{
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
    width: 220px;
}
.selected .MuiSvgIcon-root{
    color: red;
}

.sidebar > hr{
    background-color: rgb(36, 36, 36);
    height: 1px;
    margin-top: 10px 10px;
    border: 0;
    width: 200px;
}




