.Videos{
    width: 280px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #000;
    object-fit: contain;
    
    /* display: flex; */
}

.video_content{
    display: flex;
    padding: 10px;
}
.video_avatar{
    margin-right: 5px;
}