.Videos{
    width: 280px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid rgb(13, 13, 13);
    object-fit: contain;
    transition: transform 800ms ease-in;
}

.Videos :hover{
    transform: scale(1.2);


}

.video_content{
    display: flex;
    padding: 10px;
}
.video_avatar{
    margin-right: 5px;
}

.video_text >h4{
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 500;
    color: #f1f1f1;
}
.video_text >p{
    font-family: "Roboto","Arial",sans-serif;
    color: #aaa;
    font-size: 15px;
    font-weight: lighter;
}